@import "../../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

$heading-color: #2F4296;
$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Poppins', sans-serif;
$body-text-color: #1E2A59;
$graphics: #208FBC;
$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$body-font-size: 1rem;
$btn-small-padding: 0.25rem 0.5rem;
$btn-large-padding: 1.2rem 1rem;
$btn-small-font-size: 0.875rem;
$btn-large-font-size: 1.25rem;
$navbar-bg: #2F4296;
$navbar-dark-color: #ffffff;
$body-bg: #FFFFFF; 
$body-color: #212529;
$blue: #2F4296;
$red: #FD6358;
$green:#006161;
$graphics: #208FBC;

@import "../../node_modules/bootstrap/scss/variables";
